body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-weight: 700;

}

.container { 
    max-width: 1158px;
    padding: 0 15px; 
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-span-logo {
    color: #2E2F42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-links {
    display: flex;
    gap: 40px;
}

.header-nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;

}

.header-nav-link:active {
    color: #404BBF;
}

.header-nav-link:hover {
    color: #404BBF;
}

.header-nav-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-box {
    display: flex;
    gap: 40px;
}

.header-address-links {
    
}

.header-address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover {
    color: #404BBF;
}

.header-address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    border-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin-top: 48px;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

.features {
   padding-top: 120px;
   padding-bottom: 120px; 
}

.features-container {
    
    
}


.features-cards {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}


.features-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-card {
    width: calc((100% - 72px) / 4);
}


.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-container {

}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-cards {
    display: flex;
    gap: 24px;
}

.team-card {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}

.team-card-container {
    padding: 32px 0;
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.team-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;

}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {
    
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
}

.portfolio-card-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    
}

.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    display: flex;
    padding: 100px 0;

}

.footer-container {
    
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-span-logo {
    color: #F4F4FD;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    height: 72px;

}

